
<div>
	<div class="text-center">
		<h1>用户数量 <span class="label label-info">{{users.length}}</span></h1>
	</div>
	
	
	<div class="checkbox" ng-repeat = "user in users">
		<label>
			<input type="checkbox"ng-click="deleteUser(user._id)"> {{user.name}}<br>{{user.mobile}}
		</label>
	</div>

	<p class="text-center" ng-show="loading">
		<span class="fa fa-spinner fa-spin fa-3x">loading</span>
	</p>	

	<div>
		
		<form class="form-horizontal">
			<div class="from-group">
				<label class="col-sm-1 control-label">name:</label>
				<div class="col-sm-11">
					<input type="text" class="form-control input-lg text-center"  placeholder = "name" ng-model="formData.name">
				</div>
			</div>
			<div class="from-group">
				<label class="col-sm-1 control-label">mobile:</label>
				<div class="col-sm-11">
					<input type="text" class="form-control input-lg text-center" placeholder= "mobile" ng-model="formData.mobile">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-11">
					<button type="submit" class="btn btn-default">Add</button>
				</div>
			</div>

		</form>

		
	</div>
</div>






























































